{# Base page template #}
<html>
<head>
    {% block head %}
    <!-- Standard HTML head -->
    <meta charset="UtF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Bisaga Worklog</title>
    {% block stylesheets %}{% endblock %} 

    <!-- FAVICON -->
    <link rel="icon" type="image/x-icon" href="{{app.request.basepath}}/favicon.ico" />

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{app.request.basepath}}/bower_components/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Date picker component
    <link rel="stylesheet" href="{{app.request.basepath}}/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />    
    -->
    <!-- MetisMenu CSS
    <link href="{{app.request.basepath}}/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    -->
    <!-- Morris Charts CSS
    <link href="{{app.request.basepath}}/bower_components/morrisjs/morris.css" rel="stylesheet">
    -->
    <!-- Custom Fonts -->
    <link href="{{app.request.basepath}}/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- W2UI -->
    <link rel="stylesheet" type="text/css" href="{{app.request.basepath}}/bower_components/w2ui/w2ui-1.4.3.min.css" />

    <!-- Worklog custom CSS -->
    <link rel="stylesheet" href="{{app.request.basepath}}/css/worklog.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->          
    {% endblock %}    
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{app.request.basepath}}/index.php">
                    <img alt="Bisaga" src="{{app.request.basepath}}/images/w24x24.png"/>
                </a>
                <a class="navbar-brand" href="{{app.request.basepath}}/index.php">
                    Worklog v1.0
                </a>
            </div>
            <div>    
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a href="{{app.request.basepath}}/index.php/workday">
                            <i class="fa fa-calendar-o fa-fw"></i> Workday
                        </a>
                    </li>    

                    <li class="dropdown">
                        <a  href="{{app.request.basepath}}/index.php/notimplemented">
                            <i class="fa fa-bell fa-fw"></i> Alerts
                        </a>
                    </li>    

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="{{app.request.basepath}}/index.php/notimplemented"><i class="fa fa-user fa-fw"></i> User Profile</a></li>
                            <li><a href="{{app.request.basepath}}/index.php/notimplemented"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="{{app.request.basepath}}/index.php/person"><i class="fa fa-users fa-fw"></i> Persons</a></li>
                            <li class="divider"></li>
                            <li><a href="{{app.request.basepath}}/index.php/notimplemented"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-navicon fa-fw"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="{{app.request.basepath}}/index.php/notimplemented"><i class="fa fa-tasks fa-fw"></i> Task management</a></li>
                            <li><a href="{{app.request.basepath}}/index.php/notimplemented"><i class="fa fa-calendar fa-fw"></i> Calendar </a></li>
                            <li><a href="{{app.request.basepath}}/index.php/notimplemented"><i class="fa fa-area-chart fa-fw"></i> Reports</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    {% block toolbar %}{% endblock %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <!-- jQuery -->
    <script src="{{app.request.basepath}}/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{app.request.basepath}}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- W2UI -->
    <script src="{{app.request.basepath}}/bower_components/w2ui/w2ui-1.4.3.min.js"></script>

    <!-- Worklog JavaScript -->
    <script src="{{app.request.basepath}}/js/worklog.js"></script>
    
    {% block javascripts %}
    {% endblock %}
</body>
</html>
